/**
* Palette
* Red:        #D67171
* Green:      #81C784
* Blue:       #81C3C7
* Yellow:     #F1DF52
*/
.wrapper {
    margin: 25px auto;
    width:  100%;
    max-width: 400px;
}
.proconcard {
    margin-bottom: 15px;
}
ul {
    list-style-type: none;
    margin-top: 15px;
    padding-start: 10px;
    -webkit-padding-start: 10px;
}
span {
    font-size: 1.20em !important;
}
li.proconcard::before {
    content:       " ";
    float:         left;
    border-radius: 50%;
    width:         45px;
    height:        30px;
    margin-right:  10px;
    margin-top:    10px;
    padding-top:   15px;
    font-weight:   bold;
    color:         white;
    text-align:    center;
}
li.procard::before {
    background-color: #81C784!important;
}
li.concard::before {
    background-color: #D67171!important;
}
li.rate_pro1::before {content: "+1"}
li.rate_pro2::before {content: "+2"}
li.rate_pro3::before {content: "+3"}
li.rate_pro4::before {content: "+4"}
li.rate_pro5::before {content: "+5"}
li.rate_con1::before {content: "-1"}
li.rate_con2::before {content: "-2"}
li.rate_con3::before {content: "-3"}
li.rate_con4::before {content: "-4"}
li.rate_con5::before {content: "-5"}
.inputTextField div {
    font-size: 1.25em;
    color: #999999!important;
}

.textQuestion {
    margin-bottom: 5px;
}
#btnPro {
    background-color: #81C784!important;
}
#btnCon {
    background-color: #D67171!important;
}
#btnFinish {
    background-color: #F1DF52!important;
}
#ratingButtons li{
    display: inline-block;
    width: 115px;
}
/*@ratingStars*/
html { box-sizing: border-box; }

h1 {
  color: #000;
  font-size: 200%;
  line-height: 1em;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(255,255,255,0.25);
}

.fa {
  font-weight: 300;
  font-family: 'FontAwesome', 'Roboto', sans-serif; }
.rateStars {
    min-height: 125px;
    text-align: center;
}
.rating {
  position: relative;
  font-size: 1.20em !important;
  cursor: pointer;
}

.rating.hide { color: rgba(0,0,0,0); }

.user-rating {
  position: absolute; z-index: 1;
  top: 100%; left: 50%;
  width: 6.55em;
  padding: 0.5em;
  font-size: 250%;
  background: #fff;
  box-shadow: 0 2px 5px rgba(181,181,181,0.8);
  opacity: 1;
  transform-origin: 50%;
  transform: translateX(-50%) scale(1);
  transition: all 300ms cubic-bezier(.07,.77,.46,1.47);
  -webkit-padding-start: 5px;
}

.user-rating li {
  float: right;
  content: "";
  width: 1.25em;
  color: #ddd;
}

.user-rating i { transition: all 100ms cubic-bezier(.07,.77,.46,1.47); }

.user-rating li:hover,
.user-rating li:hover ~ li { color: #eb0; }
.user-rating li:hover i,
.user-rating li:hover ~ li i { transform: scale(1.1); }
.user-rating li:active i,
.user-rating li:active ~ li i { transform: scale(0.9) }
/*@end*/
