/**
* Palette
* Red:        #C78181
* Green:      #81C784
* Blue:       #81C3C7
*/
ul {
    list-style-type: none;
}
.proconcard {
    margin-bottom: 1em;
}
.procard {
    background-color: #81C784!important; //green
}
.concard {
    background-color: #C78181!important; //red
}
.ratingButtons li{
    display: inline-block;
    padding: 0.5em;
}
